// Utility Vars
$color-white: #ffffff;
$color-black: #000000;

// Branding Specific
$color-branding-primary: #008035;
$color-branding-secondary: #faac1c;
$color-branding-tertiary: #007230;

// Neutral Colors
$color-neutral-light: #cccccc;
$color-neutral-medium: #3c3c3c;
$color-neutral-dark: #333333;

// Overriding Bootstrap default variables
$theme-colors: (
  "primary": $color-branding-secondary,
);
