.l-header {
  padding: 20px 0 0 0;
  border-bottom: 1px solid $color-neutral-light;
  &__navigation-upper {
    .container {
      display: flex;
      justify-content: space-between;
    }
  }
  &__navigation-lower {
  }
}
